<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomConfigurationSection" type="CommonApplicationFramework.ConfigurationHandling.CustomConfigurationSection, CommonApplicationFramework" />
	</configSections>
	<!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>-->
	<CustomConfigurationSection>
		<Endpoints>
			<add name="Dev" address="http://localhost:49755"   />
			<add name="UAT" address="http://35.178.63.16:8080"   />
			<add name="Test" address="http://18.130.7.57:8080"   />
			<add name="Live" address="http://"  />
		</Endpoints>
		<Environments>
			<Environment name="Dev">
				<add key="LoginURL" value="http://vpt.pentechs.com/VPT/app/client/#/home/home" />
				<add key="PasswordReset" value="http://122.166.219.125:5051/app/#/userpassword/resetpassword/[passwordresetcode]?[companycode]"/>
				<add key="UserAuthorize" value="True" />
				<add key="LogFilePath" value="D:/WorkSpace/Office/Pentechs/LogFile/VPT/VPT.txt" />
				<add key="EnableSSL" value="True"></add>
				<add key="EnableErrorNotification" value="false"></add>
				<add key="EnableFileErrorLogger" value="true"></add>
				<add key="EnableDBErrorLogger" value="true"></add>
				<add key="ProviderType" value="SqlServer"/>
				<add key="FileServer" value="D:\WorkSpace\Office\Pentechs\DMSContentServer\VPT" />
				<add key="RootFolder" value="BRICKS"></add>
				<add key="DisplayFileServer" value="http://122.166.219.125:5057/DMSContentServer/" />
				<add key="FileServerURL" value="http://dev.pentechs.com/DMSContentServer/BPM/" />
				<add key="ResourceFileServer" value="G:\WIP\GitHub\BricsApiCore\QM.eComm\" />
				<add key="PhotoMosaicStockURL" value="D:\Projects\Briconomics\PhotoMosaic_Details" />
				<add key="ExtendTime" value="30" />
				<add key="AuthMode" value="Active Directory"></add>
				<add key="PasswordExpiry" value="180"></add>
				<add key="EmailSenderEmail" value="support@pentechs.com" />
				<add key="EmailSenderPassword" value="Welcome1234#" />
				<add key="EmailSenderDisplayName" value="Pentechs support" />
				<add key="EmailSender" value="support@pentechs.com" />
				<add key="SMTPAddress" value="smtp.gmail.com" />
				<add key="SMTPPort" value="587" />
				<add key="EnableSSL" value="True"></add>
				<add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
				<add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
				<add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
				<add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
				<add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
				<add key="EcommUserPortalURL" value="http://122.166.219.125:5057/FrontOffice/#/"></add>
				<add key="GalleryImageTypes" value="preview_xxs,preview_xs,preview_s,preview_m,preview_l,preview_xl"></add>
				<add key="CartSequence" value="8"></add>
				<add key="MessageSequence" value="6"></add>
				<add key="RedisExpireDuration" value="86400"/>
				<add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,MASTERCERTIFICATE,MASTERVOUCHER,VOUCHER" />
				<add key="SSOAPI" value="http://3.95.79.32/eComm//API/SECURESSO/"></add>
				<add key="CustomerProfileURL" value="http://3.95.79.32/eComm/API/SECUREUMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
				<add key="CustomerAddressURL" value="http://3.95.79.32/eComm/API/SECUREUMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
				<add key="GoogleVarifySiteAPI" value="https://www.google.com/recaptcha/api/siteverify?secret="></add>
				<add key="SecretKey" value="6LeN5v8SAAAAAAxEy73ztlLvRhpQ62KZujckXsaW"></add>
				<add key="EncryptionEnabled" value="false"></add>
				<add key="APIKeyEnabled" value="true"></add>
				<add key="AccessKey" value="kH2tjN0C07sZikn27C6cAhX20aGTz0P4YWjTD3tEijMQ"></add>
				<add key="HashEnabled" value="true"></add>
				<add key="SecurTradingServiceUrl" value="https://webservices.securetrading.net:443/json/"></add>
				<add key="VoucherBatchFilePath" value="D:\DMSContentServer\BRICKS\12FE6C66-D01B-495F-880A-A39FA4F7B15A\PMORDER\VoucherBatches\"></add>
				<add key="OVIAPI" value="https://services.oviapi.co.uk/WFJson/"></add>
				<add key="OVIUserId" value="BRICONOMICSTEST"></add>
				<add key="OVIPassword" value="5Gw9c%xcjs_fr21"></add>
				<add key="PMORDERS" value="D:\PMORDERS\"></add>
				<add key="PTORDERS" value="D:\PTORDERS\"></add>
				<add key="AvaTaxServiceUri" value="https://sandbox-rest.avatax.com/api/v2/" />
				<add key="AvaTaxServiceUsername" value="anish.de@pentechs.com" />
				<add key="AvaTaxServicePassowrd" value="Welcome1234#" />
				<add key="DeliveryTaxCode" value="FR021004" />
				<add key="FBConnectorBaseUrl" value="http://localhost:5001"></add>
				<add key="ConnectionId" value="ECD4F50F-DBEE-4A6E-9B60-612EE6794B1F"></add>
				<add key="DeepGramCallBackUrl" value="http://vpt.pentechs.com/vpt/api/service/api/contractor/Transript/speechtotext?callback_method=put"></add>
				<add value="http://122.166.146.116/BPMV1/api/MailService/api/" key="SendMailEndPoint" />
				<add key="IntegrationAPIEndPoint" value="http://localhost:49650/api/"></add>
			</Environment>
			
			<Environment name="Test">
				<add key="UserAuthorize" value="False" />
				<add key="LogFilePath" value="C:/LogFile/LogFile1.txt" />
				<add key="ExtendTime" value="30" />
				<add key="EnableSSL" value="True"></add>
				<add key="EnableErrorNotification" value="false"></add>
				<add key="EnableFileErrorLogger" value="false"></add>
				<add key="EnableDBErrorLogger" value="false"></add>
				<add key="ProviderType" value="SqlServer"/>
				<add key="FileServerURL" value="http://3.95.79.32/eComm/DMSContentServer/" />
				<add key="RootFolder" value="BRICKS"></add>
				<add key="DisplayFileServer" value="http://3.95.79.32/eComm/DMSContentServer/" />
				<add key="FileServer" value="C:\inetpub\wwwroot\Services\eComm\DMSContentServer\" />
				<add key="ResourceFileServer" value="C:\inetpub\wwwroot\Services\eComm\API\ECOMAPI" />
				<add key="AuthMode" value="Active Directory"></add>
				<add key="EmailSenderEmail" value="support@lfcchampionswall.briconomics.com" />
				<add key="EmailSenderPassword" value="jumpyLiz@rd32" />
				<add key="EmailSender" value="supportdesk@briconomics.com" />
				<add key="SMTPAddress" value="smtp.office365.com" />
				<add key="SMTPPort" value="587" />
				<add key="EmailSenderDisplayName" value="Briconomics" />
				<add key="ImageURL" value="http://localhost:49755" />
				<add key="EnableSSL" value="True"></add>
				<add key="EnableErrorNotification" value="false"></add>
				<add key="EnableFileErrorLogger" value="false"></add>
				<add key="EnableDBErrorLogger" value="false"></add>
				<add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
				<add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
				<add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
				<add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
				<add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
				<add key="CartSequence" value="8"></add>
				<add key="MessageSequence" value="6"></add>
				<add key="EcommUserPortalURL" value="http://3.95.79.32/eComm/APP/FrontOffice/#/LFCWALL/home"></add>
				<add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,MASTERCERTIFICATE,MASTERVOUCHER,VOUCHER" />
				<add key="CustomerProfileURL" value="http://3.95.79.32/eComm/API/UMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
				<add key="CustomerAddressURL" value="http://3.95.79.32/eComm/API/UMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
				<add key="GoogleVarifySiteAPI" value="https://www.google.com/recaptcha/api/siteverify?secret="></add>
				<add key="SecretKey" value="6LeN5v8SAAAAAAxEy73ztlLvRhpQ62KZujckXsaW"></add>
				<add key="SSOAPI" value="http://3.95.79.32/eComm//API/SSOAPI/"></add>
				<add key="EncryptionEnabled" value="false"></add>
				<add key="APIKeyEnabled" value="true"></add>
				<add key="AccessKey" value="kH2tjN0C07sZikn27C6cAhX20aGTz0P4YWjTD3tEijMQ"></add>
				<add key="HashEnabled" value="true"></add>
				<add key="SecurTradingServiceUrl" value="https://webservices.securetrading.net:443/json/"></add>
				<add key="OVIAPI" value="https://services.oviapi.co.uk/WFJson/"></add>
				<add key="OVIUserId" value="BRICONOMICSTEST"></add>
				<add key="OVIPassword" value="5Gw9c%xcjs_fr21"></add>
				<add key="FBConnectorBaseUrl" value="http://localhost:5001"></add>
				<add key="ConnectionId" value="DCD4F50F-DBEE-4A6E-9B60-612EE6794B1F"></add>
				<add key="DeepGramCallBackUrl" value="http://vpt.pentechs.com/vpt/api/service/api/contractor/Transript/speechtotext?callback_method=put"></add>
				<add value="http://122.166.146.116/BPMV1/api/MailService/api/" key="SendMailEndPoint" />
				<add key="IntegrationAPIEndPoint" value="http://localhost:49650/api/"></add>

			</Environment>
			<Environment name="Live">
				<add key="LoginURL" value="http://122.166.219.125:5055/Legalapp/#/login/MFL" />
				<add key="PasswordReset" value="http://122.166.219.125:5051/app/#/userpassword/resetpassword/[passwordresetcode]?[companycode]"/>
				<add key="UserAuthorize" value="True" />
				<add key="LogFilePath" value="E:/LogFile/LogFile.txt" />
				<add key="EnableSSL" value="True"></add>
				<add key="EnableErrorNotification" value="false"></add>
				<add key="EnableFileErrorLogger" value="true"></add>
				<add key="EnableDBErrorLogger" value="true"></add>
				<add key="ProviderType" value="SqlServer"/>
				<add key="FileServer" value="E:\DMSContentServer\" />
				<add key="RootFolder" value="BRICKS"></add>
				<add key="DisplayFileServer" value="http://122.166.219.125:5057/DMSContentServer/" />
				<add key="FileServerURL" value="http://localhost:49712" />
				<add key="ResourceFileServer" value="E:\SVN\eCommerce\Briconomics2.0\eCommerce\QM.eComm" />
				<add key="PhotoMosaicStockURL" value="D:\Projects\Briconomics\PhotoMosaic_Details" />
				<add key="ExtendTime" value="30" />
				<add key="AuthMode" value="Active Directory"></add>
				<add key="PasswordExpiry" value="180"></add>
				<add key="EmailSenderEmail" value="supportdesk@briconomics.com" />
				<add key="EmailSenderPassword" value="jumpyLiz@ard32" />
				<add key="EmailSender" value="supportdesk@briconomics.com" />
				<add key="SMTPAddress" value="smtp.gmail.com" />
				<add key="SMTPPort" value="25" />
				<add key="EmailSenderDisplayName" value="Briconomics" />
				<add key="EnableSSL" value="True"></add>
				<add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
				<add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
				<add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
				<add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
				<add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
				<add key="EcommUserPortalURL" value="http://122.166.219.125:5057/FrontOffice/#/"></add>
				<add key="GalleryImageTypes" value="preview_xxs,preview_xs,preview_s,preview_m,preview_l,preview_xl"></add>
				<add key="CartSequence" value="6"></add>
				<add key="RedisExpireDuration" value="86400"/>
				<add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,MASTERCERTIFICATE,MASTERVOUCHER,VOUCHER" />
				<add key="SSOAPI" value="http://122.166.219.125:5057/BRICSAPI/API/SSOAPI/"></add>
				<add key="CustomerProfileURL" value="http://122.166.219.125:5057/BRICSAPI/API/UMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
				<add key="CustomerAddressURL" value="http://122.166.219.125:5057/BRICSAPI/API/UMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
				<add key="EncryptionEnabled" value="true"></add>
				<add key="APIKeyEnabled" value="true"></add>
				<add key="AccessKey" value="kH2tjN0C07sZikn27C6cAhX20aGTz0P4YWjTD3tEijMQ"></add>
				<add key="HashEnabled" value="true"></add>
				<add key="SecurTradingServiceUrl" value="https://webservices.securetrading.net:443/json/"></add>
				<add key="OVIAPI" value="https://services.oviapi.co.uk/WFJson/"></add>
				<add key="OVIUserId" value="BRICONOMICSLFC"></add>
				<add key="OVIPassword" value="Pg4%DSx56w_7d"></add>
				<add key="FBConnectorBaseUrl" value="http://localhost:5001"></add>
				<add key="ConnectionId" value="DCD4F50F-DBEE-4A6E-9B60-612EE6794B1F"></add>
				<add key="DeepGramCallBackUrl" value="http://vpt.pentechs.com/vpt/api/service/api/contractor/Transript/speechtotext?callback_method=put"></add>
				<add value="http://122.166.146.116/BPMV1/api/MailService/api/" key="SendMailEndPoint" />
				<add key="IntegrationAPIEndPoint" value="http://localhost:49650/api/"></add>
			</Environment>
		</Environments>
		<DBServers>
			<clear />
			<add name="Test" connectionString="Server=3.95.79.32; Database=BPMWorkflowControl; User Id=bookadmin; password=admin_123" providerName="System.Data.SqlClient" />
			<add name="Dev" connectionString="Server=4.188.73.40; Database=EkahControl; User Id=PenDevDBAdmin; password=AdminDB#123@" providerName="System.Data.SqlClient" />
			<!--<add name="Dev" connectionString="Server=52.66.76.209; Database=BPMWorkflowControl; User Id=ekahdb; password=EkahPlatform#321!%" providerName="System.Data.SqlClient" />-->
			<add name="Live" connectionString="Server=122.166.146.116; Database=BPMWorkflowControl; User Id=pendbadmin; password=3hFe_vLGeD" providerName="System.Data.SqlClient" />
		</DBServers>
	</CustomConfigurationSection>
</configuration>