<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="FlutterQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<FlutterQueryConfigurations>

		<add key="GetConnectionString" value="SELECT 
           
            AC.[AccountName]
           ,AC.[AccountKey]
           ,AC.[DefaultConnectionProtocol]
           ,AC.[EndpointSuffix]
           ,AC.[ContainerName]
           ,AC.[CreatedBy]
           ,AC.[CreatedOn]
           ,AC.[IsActive]
           ,AC.[IsDeleted]
           ,AC.[GuidCode]
		   FROM
		    AzureBlob..AzureCredentials AC
INNER JOIN AzureBlob..Users u on AC.UserId = u.Id
WHERE u.GuidCode = @GuidCode">
		</add>
    
    <add key="AddAuditLog" value="INSERT INTO AzureBlob..AuditLogs
      (UserId,
      TokenString,
      CreatedOn,
      CreatedBy,
      [Permissions],
      GuidCode)
      VALUES
      ((SELECT Id from AzureBlob..Users WHERE GuidCode = @UserId),
      @TokenString,
      GETDATE(),
      (SELECT Id from AzureBlob..Users WHERE GuidCode = @UserId),
      @Permissions,
      @GuidCode)
      ">
		</add>
    
      <add key="InsertFileUploadDetails" value="
          INSERT INTO AzureBlob..AzureFilesRecord
          (UserId,
          [FileName]
          AliasName
          FileType
          FileSize
          IsUploaded
          UploadTime
          IsDeleted
          FilePath
          IsDeleted)
          
          VALUES 
          ((SELECT Id FROM Users WHERE GuidCode = @UserId),
          @FileName
          @AliasName
          @FileType
          @FileSize
          @IsUploaded
          @UploadTime
          @IsDeleted
          @FilePath
          @IsDeleted
          )
      ">
		</add>
	</FlutterQueryConfigurations>

</configuration>